/* Search Part */
#searchFunction {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 150px;
}
#filterInput {
  display: flex;
  align-items: center;
}
#search,
.buttonChangePage {
  border-radius: 10px;
  color: white;
  background: #9dcc3a;
  border: none;
  height: 40px;
  width: 150px;
  font-weight: bold;
  font-size: 130%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#divButtonsChangePage {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 10% 20px 10%;
}
#city {
  width: 500px;
  height: 40px;
  border: none;
  font-size: 150%;
}

#filter {
  border-radius: 10px;
  border: 1px solid white;
  background-color: white;
  width: 60px;
  height: 60px;
  margin-right: 10px;
}
#setting {
  width: 45px;
  height: 45px;
}

@media (min-width: 500px) {
  #searchLogo {
    display: none;
  }
}

@media (max-width: 500px) {
  /* Media 500 Search part */
  #send {
    display: none;
  }
  #search {
    border-radius: 10px;
    margin-left: -20px;
    color: #459936;
    background: #edfbff;
    border: none;
    height: 30px;
    width: 30px;
  }
  #searchLogo {
    height: 20px;
  }
  #city {
    height: 30px;
    width: 150px;
    background: #edfbff;
    border: none;
  }

  #filter {
    border-radius: 10px;
    border: 1px solid white;
    background-color: white;
    width: 30px;
    height: 30px;
    margin-right: 10px;
  }
  #setting {
    width: 25px;
    height: 25px;
  }
  #searchFunction {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 80px;
    font-size: 80%;
  }
}
