.containerMeteo{
    display:flex;
    flex-direction: column;
    -webkit-box-shadow: 0 6px 6px #eff7f6;
  -moz-box-shadow: 0 6px 6px #eff7f6;
  box-shadow: 0 6px 6px #eff7f6;
}
.meteoIcon{
width: 100px;
height: 50px;
background-color: white;
border-top-left-radius: 110px;  
border-top-right-radius: 110px; 
border-bottom: 0;
display: flex;
justify-content: center;
}
.cityAndDeg{
display: grid;
grid-template-columns: 1fr 1fr 1fr;
background-color: #ffffff;
text-align: center;
width:100%;
height: 70px;
margin-top:0px;
align-items: center;
color:#707070;
font-size:20px;
}
.iconAndDescription{
   
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
@media (max-width:500px){

.containerMeteo{
width:100%;
}
.barMeteo{
margin-top:20px;
background:#edfbff;
width: 100%;
display:flex;
}
.meteoIcon{
background:none;
border-bottom: 0;
}
.descriptionMeteo{
display:none;
}
.iconAndDescription{
background:none;
width:50%;
}
.cityMeteo{
    width:50%
}
.cityAndDeg{
    font-size:100%;
    height:0px;
}
}


.i01d, .i01n{
    background-image: url("/src/Image/backgroundImg/clear-sky-min.jpg");
    width: 100%;
    height:auto;
    
    }
  
  .i02d, .i02n{
    background-image: url("/src/Image/backgroundImg/few clouds-min.jpg");
    width: 100%;
    height:auto;
      }
  
  .i03d, .i03n{
    background: url("/src/Image/backgroundImg/scattered clouds-min.jpg");
    height: 100%;
    width: 100%;
        }
  
  .i04d, .i04n {
    background: url("/src/Image/backgroundImg/Brokken clouds-min.jpg");
    height: auto;
    width: auto;
    }
  
  .i09d, .i09n {
    background: url("/src/Image/backgroundImg/shower rain-min.jpg");
    height: auto;
    width: auto;
    }
  
  .i10d, .i10n {
    background: url("/src/Image/backgroundImg/rain-min.jpg");
    height: auto;
    width: auto;
    }
  
  .i11d, .i11n {
    background: url("/src/Image/backgroundImg/thunderstorm-min.jpg");
    height: auto;
    width: auto;
    }
  
    .i13d, .i13n {
      background: url("/src/Image/backgroundImg/snow-min.jpg");
      height: auto;
      width: auto;
    }
  
  .i50d, .i50n {
    background: url("/src/Image/backgroundImg/mist-min.jpg");
    height: auto;
    width: auto;
    }
    